  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Gerenciador De Serviços</span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-list>

    <h3 mat-subheader>Serviços Ativos</h3>
    <mat-list-item *ngFor="let servico of ativos">

      <mat-icon mat-list-icon>repeat</mat-icon>
      <h4 mat-line>{{servico.name}}</h4>
      <p mat-line> Alterado em {{servico.updated | date}} </p>

            <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="servico.checked"
                [disabled]="disabled">
                On
            </mat-slide-toggle>

    </mat-list-item>

    <mat-divider></mat-divider>
    <h3 mat-subheader>Serviços Inativos</h3>
    <mat-list-item *ngFor="let servico of inativos">
      <mat-icon mat-list-icon>stop</mat-icon>
      <h4 mat-line>{{servico.name}}</h4>
      <p mat-line> Alterado em {{servico.updated | date}} </p>

            <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="servico.checked"
                [disabled]="disabled">
                On
            </mat-slide-toggle>

    </mat-list-item>
  </mat-list>

<router-outlet></router-outlet>
